.container {
  display: flex;
  /* flex-direction: row; */
  justify-content : space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.dropdown{
  width: 30%;
  min-width: 6rem
}

.property_name{
  width: 100%;
}