.languageCard {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  padding: 0 0.5rem;
}

.typeNameContainer {
  display: flex;
  align-items: baseline;
}

.type {
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.name {
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.owner {
  min-width: 60px;
  color : #0d6efd ;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  margin-right: 0.5rem;
}

.uuid {
  font-family: monospace;
  color: #7f7f7f;
}

.status {
  color : white;
  background-color: #e7f3ff;
  border-radius: 16px;
  /* padding: 4px 8px; */
  text-align: center;
  text-transform: uppercase;
  max-width: 60%;
  font-weight: bold;
}

.status.draft{
  background-color: #0d6efd ;
}

.status.published{
  background-color: #149137;
}

.status.deleted{
  background-color: #313131;
}

.status.pending{
  background-color : #e3a00e;
}

.timestamp {
  color: #7f7f7f;
  gap: 0.5rem;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

